/*06-04-2024*/
.main-contenar{/*App.jsx L-15*/
    /* background-image: url(./img.jpeg) ; */
    display: flex;
}
.contenar{/*App.jsx  L-17*/
    width: 100%;
}
.sidebar{ /* sideBar.jsx  L-7 */
    height: 824px;
}
.post-card{ /*Post.jsx L-10  NOTE: allready inline css added Height and Width  */
    margin: 15px 15px;
}
.post-tags{ /*Post.jsx*/
    margin: 0px 3px;
}

.alart-bar{
    width: 89%;
    position: absolute;
    bottom: 0;
  
    
}
.create-post{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}